input {
	margin-right: 20px;
}
input[type=number] {
	width: 50px;
}
label {
	margin: 5px;
	padding: 5px;
}

.menuText {
	color: white;
	text-align: center;
}
.menu {
	background-color: black;
	position: absolute;
	display: flex;
	flex-direction: column;
}
.menu input {
	margin-right: 0px;
}